:root {
  --background-color-main: beige;
  --border-color: black;
  --header-color: yellowgreen;
  --text-color: green;
  --nav-text-color: white;
}

.dark {
  --background-color-main: grey;
  --border-color: black;
  --header-color: yellowgreen;
  --text-color: green;
  --nav-text-color: white;
}

.main-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  font-size: 1.5em;
  background-color: var(--background-color-main);
}

.main-blog > * {
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  border-top: 2px solid black;
  font-size: 1em;
}

.main-blog > * > h2 {
  border-bottom: 2px solid black;
}

.main-blog > * > * {
  margin: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  color: green;
  padding: 10px;
  font-size: 1.5em;
}

.footer-title {
  padding: 5px;
  text-align: center;
}

footer ul {
  display: flex;
  float: left;
  flex-direction: column;
  align-items: flex-start;
}

.dark-mode .main-blog {
  .main-blog {
    background-color: black;
    color: white;
  }
  background-color: grey;
  color: white;
}

@media screen and (max-width: 1000px) {
  .main-blog {
    font-size: 1.5em;
    padding: 10px;
  }
}
