:root {
  --background-color-main: beige;
  --border-color: black;
  --header-color: yellowgreen;
  --text-color: green;
  --nav-text-color: white;
}

.dark {
  --background-color-main: grey;
  --border-color: black;
  --header-color: yellowgreen;
  --text-color: green;
  --nav-text-color: white;
}

body {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
  color: white;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

header h1 {
  font-size: 2.5em;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  padding: 10px;
}

li a {
  text-decoration: none;
  padding: 5px;
}

li a:hover {
  background: lightblue;
}

.main-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-color-main);
}

.circle {
  height: 500px;
  width: 500px;
  min-width: 500px;
  border-radius: 50%; /* or 50% */

  background-color: lightgreen;
  color: green;
  text-align: center;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.idea-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  font-size: 1.5em;
  padding: 15px;
  color: green;
  min-width: 600px;
}

.idea-section > * {
  min-width: 500px;
  margin: 5px;
  padding: 5px;
}

.idea-section h2 {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .main-index {
    flex-direction: column;
  }

  .circle {
    height: 400px;
    width: 400px;
    min-width: 400px;
    font-size: 1.5em;
    margin: 10px;
  }

  .idea-section {
    margin: 10px;
    min-width: 400px;
    font-size: 1.5em;
  }

  .idea-section > * {
    min-width: 400px;
  }
}
