/* light theme colors */
:root {
  --background-color-main: beige;
  --border-color: black;
  --header-color: yellowgreen;
  --text-color: green;
  --nav-text-color: white;
  --hover-color: lightblue;
  --circle-color: lightgreen;
}

/* dark theme colors */
.dark {
  --background-color-main: grey;
  --border-color: white;
  --header-color: black;
  --text-color: white;
  --nav-text-color: white;
  --hover-color: lightgreen;
  --circle-color: lightblue;
}

body {
  margin: 0px;
}

/* header css heres here */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  color: var(--nav-text-color);
  /* padding: 10px; */
  padding-top: 15px;
  padding-bottom: 15px;
}

header h1 {
  font-size: 2.5em;
  margin-left: 10px;
}

/* nav css here */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  padding: 10px;
}

li a {
  text-decoration: none;
  padding: 5px;
}

li a:hover {
  background: lightblue;
}

button {
  margin: 15px;
}
/* header and nav css ends here */

/* main body css starts here */
.main-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-color-main);
}

/* main page circle on left side */
.circle {
  height: 500px;
  width: 500px;
  min-width: 500px;
  border-radius: 50%; /* or 50% */

  background-color: var(--circle-color);
  color: var(--text-color);
  text-align: center;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* css where user input idea */
.idea-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--circle-color);
  font-size: 1.5em;
  padding: 15px;
  color: var(--text-color);
  min-width: 600px;
}

.idea-section > * {
  min-width: 500px;
  margin: 5px;
  padding: 5px;
}

.idea-section h2 {
  text-align: center;
}
/* main css ends here */

/* for smaller screen size */
/* flex direction in column to fit everything better */
@media screen and (max-width: 1000px) {
  .main-index {
    flex-direction: column;
  }

  .circle {
    height: 400px;
    width: 400px;
    min-width: 400px;
    font-size: 1.5em;
    margin: 10px;
  }

  .idea-section {
    margin: 10px;
    min-width: 400px;
    font-size: 1.5em;
  }

  .idea-section > * {
    min-width: 400px;
  }
}
