body {
  /* display: block; */
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
  color: white;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

header h1 {
  font-size: 2.5em;
  margin-left: 10px;
}

ul {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

li a {
  display: block;
  /* text-align: center; */
  /* padding: 14px 16px; */
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
}

.main-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* height: 90vh; */
  min-height: 100vh;
  overflow: hidden;
  background-color: beige;
}

.circle {
  height: 500px;
  width: 500px;

  border-radius: 50%; /* or 50% */

  background-color: lightgreen;
  color: green;
  text-align: center;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.idea-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  font-size: 1.5em;
  padding: 15px;
  color: green;
}

.idea-section > * {
  margin: 5px;
  padding: 5px;
}